div {
    margin: auto;
    max-width: 60vw;
    .detail-block-1 {
        margin-top: 1vmax;
        background-color: white;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2vmax;
        justify-content: center;
        .detail-profilePic {
            margin: auto;
            height: 10rem;
            width: 10rem;

            img {
                aspect-ratio: 1/1;

                height: 10rem;
                width: 10rem;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .detail-username {
            margin: 1vmax;
            font-size: 2vmax;
            font-weight: 550;
        }
        .detail-handles {
            display: flex;
            width: 50%;
            font-size: 1.25vmax;
            justify-content: space-evenly;
            font-weight: 500;
            color: rgba(37, 39, 54, 0.75);
        }
        .detail-country {
            padding: 0.5vmax;
        }
    }
    .detail-block-2 {
        display: flex;
        // border: 1px solid gray;
        justify-content: space-evenly;

        div {
            width: 100%;
            display: flex;
            padding: 2vmax;
            gap: 0.5vmax;
            flex-direction: column;
            border-radius: 2px;
            border: 1px solid rgba(51, 51, 116, 0.5);
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
                font-weight: 550;
            }
        }
        :hover {
            color: rgba(11, 110, 110, 0.87);
        }
    }
    .detail-block-3 {
        background-color: white;
        padding-top: 2vmax;
        p {
            margin: auto;
            width: 85%;
            font-size: 1.4vmax;

            padding-bottom: 1vmax;
        }
    }
    .detail-block-4 {
        display: flex;
        // border: 1px solid gray;
        justify-content: space-evenly;

        div {
            width: 100%;
            display: flex;
            padding: 2vmax;
            gap: 0.5vmax;
            flex-direction: column;
            border-radius: 2px;
            border: 1px solid rgba(51, 51, 116, 0.5);
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
                font-weight: 550;
            }
        }

        :hover {
            color: rgba(11, 110, 110, 0.87);
        }
    }
}
