@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

button {
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

body {

    background-color: rgb(228, 230, 246);
    font-size: 1vw;
}

.css-16cqd0p-MuiPaper-root-MuiCard-root {
    margin: 10px;
}

/* ......................................................................................................... */
.main {
    display: flex;
    flex-direction: column;

}

.nav {
    width: 100vw;
    position: sticky;
    left: 0;
    top: 0;

    z-index: 99;
}

.sub-main {
    display: flex;
    gap: 1vmax;
    margin: auto;

}

.input {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(34, 31, 31);
}

.middle {
    width: 55vw;

}

@media screen and (max-width:1200px) {


    .right {
        display: none;
    }

    .middle {
        width: 80vw;
    }

}

@media screen and (max-width:1024px) {
    .middle {
        width: 100vw;
        margin: auto;
    }

    .option span {
        font-size: .75rem;
    }

    .left-navIcons {
        background-color: red;
    }

    .left {
        display: none;
    }

    body {
        font-size: .6rem;
    }

    .sub-main {
        width: 100vw;
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: .6rem;
    }

    .sub-main {
        width: 100vw;
    }
}