.container {
    .upperDiv {
        width: 100%;
        display: flex;
        gap: 1.2vw;
        .userPhoto {
            img {
                height: 5rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
        .input {
            margin-bottom: 1vmax;
            textarea {
                outline: none;
                width: 92%;
                border: none;
                border-radius: 0.2vw;
                padding: 1.2vw;
            }
        }
        .preview {
            overflow: hidden;
            background-color: white;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 53vw;

            .cancle {
                svg {
                    font-size: 2rem;
                    color: rgb(151, 54, 54);
                    position: absolute;
                    top: 0.2rem;
                    right: 0.3rem;
                    cursor: pointer;
                    &:hover {
                        color: rgb(255, 25, 25);
                    }
                }
            }
            img {
                border-radius: 0.2rem;
                width: 53vw;
            }
        }
    }
    .lowerDiv {
        width: 55vw;
        .options {
            display: flex;

            justify-content: space-evenly;

            gap: 2.6vw;

            .option {
                cursor: pointer;
                padding: 0.4rem;
                // border: 1px solid rgb(71, 71, 235);
                justify-content: center;
                border-radius: 0.2rem;
                align-items: center;
                display: flex;
                gap: 0.2vw;
                font-size: 1.2vw;
                label {
                    display: flex;
                    gap: 0.2rem;
                    font-size: 1vw;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.1rem;
                    cursor: pointer;
                }
                &:nth-child(1) {
                    color: green;
                }
                &:nth-child(2) {
                    color: blue;
                }
                &:nth-child(3) {
                    color: rgb(14, 116, 137);
                }
                // &:nth-child(4) {
                //     color: red;
                // }
                &:nth-child(4) {
                    color: white;
                    background-color: blue;
                    padding: 0.3rem 0.6rem;
                    transition: all 400ms ease-in-out;
                    box-sizing: border-box;

                    &:hover {
                        border: 1px solid blue;
                        color: blue;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// --------------------Media-Query---------------------------
$breakpoint-tablet: 1200px;
@media (max-width: $breakpoint-tablet) {
    .container {
        .upperDiv {
            // font-size: 0.5rem;
            font-size: 1vw;

            .userPhoto {
                img {
                    height: 2rem;
                }
            }
            .input {
                width: 100%;
                height: auto;
                margin-bottom: 1vmax;
                textarea {
                    width: 100%;
                }
            }
        }
        .lowerDiv {
            width: 100%;
            .options {
                gap: 6vw;
                font-size: 1rem;
                .option {
                    font-size: 1rem;
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 775px) {
    .container {
        .upperDiv {
            width: 95%;
            margin: auto;

            .userPhoto {
                img {
                    height: 2rem;
                }
            }
            .input {
                width: 100%;

                textarea {
                    width: 100%;
                }
            }

            .preview {
                width: 100%;
                .cancle {
                    svg {
                        font-size: 2rem;
                        color: rgb(151, 54, 54);
                        position: absolute;
                        top: 0.2rem;
                        right: 0.3rem;
                        cursor: pointer;
                        &:hover {
                            color: rgb(255, 25, 25);
                        }
                    }
                }
                img {
                    border-radius: 0.2rem;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .lowerDiv {
            width: 100%;
            margin-top: 1rem;

            .options {
                margin: 0;
                gap: 0.2rem;
                .option {
                    span {
                        font-size: 1.5vmax;
                    }
                }
                .share-btn {
                    padding: 0;
                    font-size: 1.5vmax;
                }
            }
        }
    }
}
