.login {
    height: 100vh;
    background-color: rgb(187, 184, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        width: 60%;
        display: flex;
        background-color: white;
        border-radius: calc((1rem / 16) * 10);
        min-height: 600px;
        overflow: hidden;
        .left {
            flex: 1;
            background: linear-gradient(
                    rgba(52, 8, 140, 0.687),
                    rgba(27, 3, 74, 0.67)
                ),
                url("https://images.pexels.com/photos/7312328/pexels-photo-7312328.jpeg?auto=compress&cs=tinysrgb&w=600")
                    center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            color: white;
            gap: 30px;
            padding: 50px;

            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            p {
                font-size: 14px;
            }

            button {
                border: none;
                width: 50%;
                padding: 10px;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
            }
        }
        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            padding: 50px;

            h1 {
                font-weight: 600;
                font-size: 30px;
                color: #555;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                input {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid lightgray;
                    padding: 10px;
                    background-color: rgba(83, 32, 185, 0.842);
                    color: white;
                    font-weight: 550;
                    cursor: pointer;
                    width: 50%;
                    border-radius: 5px;
                    box-sizing: border-box;
                    &:disabled {
                        background-color: white;

                        border: 1px solid rgba(83, 32, 185, 0.842);
                        pointer-events: none;
                        color: rgba(83, 32, 185, 0.842);
                    }
                }
            }
            .err {
                color: red;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .login {
        .card {
            width: 95%;
        }
    }
}

@media screen and (max-width: 768px) {
    .login {
        .card {
            width: 95%;
            display: flex;
            flex-direction: column;
        }
    }
}
