.leftbar {
    height: 100vh;
    background-color: white;
    overflow: scroll;
    width: 15vw;
    border-radius: 0.25rem;
    .container {
        color: rgb(85, 93, 100);
        padding: 0 0.625rem;

        .menu {
            margin: 0.625rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 20rem;

            .user {
                display: flex;
                align-items: center;
                padding: 0.5vmax 1vmax;
                border-radius: 0.25vmax;

                gap: 0.625rem;
                cursor: pointer;
                svg {
                    font-size: 1.5vmax;
                }
                transition: all 300ms ease-in;
                &:hover {
                    background-color: rgba(128, 128, 128, 0.27);
                }
            }
            .items {
                padding: 0.5vmax 1vmax;
                border-radius: 0.25vmax;
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0.5rem 0;
                gap: 0.625rem;

                svg {
                    font-size: 1.5vmax;
                }
                transition: all 300ms ease-in;
                &:hover {
                    background-color: rgba(128, 128, 128, 0.27);
                }
            }
        }
        hr {
            border: 0.2px solid rgba(128, 128, 128, 0.27);
            outline: none;
        }
    }
}
