.profile {
    width: 100%;
    overflow: scroll;
    height: 100vh;
    margin-top: 0.2vmax;

    .img {
        position: relative;

        .bannerIMG {
            width: 100%;
            height: 20vmax;
            object-fit: cover;
            border-radius: 0.25vw;
        }
        .editOption {
            top: 25vmax;
            svg {
                text: 3rem;
            }
            // right: -50%;
            position: absolute;
        }

        .profileIMG {
            height: 10vmax;
            aspect-ratio: 1/1;
            border-radius: 50%;
            position: absolute;
            object-fit: cover;
            left: 0;
            right: 0;
            margin: auto;
            top: 15vmax;
        }
    }
    .userName {
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 0.1vmax;
        justify-content: center;
        h6 {
            letter-spacing: 0;
            font-size: 0.75vmax;
            color: gray;
        }
    }
    .userDetails {
        box-shadow: -1px -1px 5px 3px rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: -2px -1px 9px 3px rgb(0 0 0 / 12%);
        -moz-box-shadow: -1px -1px 5px 3px rgba(0, 0, 0, 0.12);
        display: flex;

        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0.75rem;
        background-color: white;
        border-radius: 0.25rem;
        margin: 0.75rem 2.5rem;
        height: 30vmax;
        padding-top: 3vmax;

        .userName {
            font-size: 1.5vmax;
            font-weight: bold;
            margin: 0vmax 0 0 0;
        }
        .options {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1vmax;
            justify-content: center;
            align-items: center;

            .socialMedia {
                margin: auto;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                svg {
                    font-size: 1.3vmax;
                }
            }
            .detail {
                margin: auto;
                width: 70%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5vmax;
                justify-content: space-evenly;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        font-size: 1.2vmax;
                    }
                    span {
                        font-size: 1vmax;
                    }
                }
            }
            .contact {
                margin: auto;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }
        .uStatus {
            display: flex;
            // width: 50%;
            margin: 1.2vw 0;
            align-items: center;
            justify-content: center;
            gap: 2vmax;

            .followers {
                color: black;
                font: 500 1.2vmax "Roboto";

                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-transform: uppercase;
                span {
                    padding: 1vmax;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // font-size: large;
                    color: rgb(6, 6, 37);
                }
            }
            .vertLine {
                border-radius: 1rem;
                background-color: rgba(33, 33, 141, 0.525);
                height: 1.5vmax;
                width: 0.25vmax;
            }
            .followings {
                // background-color: red;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: blue;
                font: 500 1.2vmax "Roboto";
                span {
                    padding: 1vmax;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // font-size: large;
                    color: blue;
                }
            }
        }
        .followUser {
            cursor: pointer;
            background-color: blue;
            color: white;
            width: 32%;
            border-radius: 0.25vmax;
            font-size: 1.5vmax;
            text-align: center;
            padding: 1vmax 2vmax;
            margin-bottom: 2vmax;
        }
    }
    .posts {
        display: flex;
        flex-direction: column;

        margin: auto;
    }
}

//Media Query
@media screen and (max-width: 768px) {
    .profile {
        justify-content: space-evenly;
        width: 100%;
        .userDetails {
            width: 90%;
            margin: 1vmax auto;

            height: fit-content;
            .userName {
                margin-top: 3vw;
                font-size: 3vw;
            }
            .options {
                width: 100%;
                flex-direction: column;
                justify-content: space-evenly;
                .socialMedia {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
                .detail {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                }
                .contact {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
        }
        .followUser {
            background-color: blue;
            color: white;
            width: 90%;
            border-radius: 0.25vmax;
            font-size: 1.5vmax;
            text-align: center;
            padding: 1vmax 2vmax;
            margin-bottom: 2vmax;
        }
    }
}
